# Your Scalekit environment URL. Get it from https://app.scalekit.com/ws/workspace/manage/environments
SCALEKIT_ENVIRONMENT_URL=https://<your-value>.scalekit.dev
SCALEKIT_AUTH_SERVER=https://<your-value>/resources/res_96583176876460293

# Your Scalekit client credentials. Get it from https://app.scalekit.com/ws/environments/<your-env>/settings/api-credentials
SCALEKIT_CLIENT_ID=your-value
SCALEKIT_CLIENT_SECRET=your-value

# Your MCP server resource identifier
# Note that app will use http://localhost:3000/mcp during development
MCP_RESOURCE_ID=your-value

# Required scopes for MCP server access (space-separated)
MCP_SCOPES=ponypwd:generate